body {
  font-family: 'Courier', sans-serif;
  font-size: 11pt;
  color: #333; }

div.container {
  margin: 20px; }

a {
  color: #333; }
  a:visited {
    color: #333; }
  a:active {
    text-decoration: underline;
    font-weight: bold;
    color: #333; }
  a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #000; }

nav {
  margin-bottom: 40px; }
  nav a {
    text-decoration: none; }
    nav a :hover {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
      color: #000; }
    nav a :visited {
      color: #333; }

.icon-emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px; }
