body {
  font-family: 'Courier', sans-serif;
  font-size: 11pt;
  color: #333;
  background-color: #fdfdfd;
}

div.container {
  margin: 20px;
}

a {
  color: #333;

  &:visited {
    color: #333;
  }

  &:active {
    text-decoration: underline;
    font-weight: bold;
    color: #333;
  }

  &:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
  }
}




nav {
  margin-bottom: 40px;

  a {
    text-decoration: none;

    :hover {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
      color: #000;
    }

    :visited {
      color: #333;
    }
  }
}

// Emoji icons
.icon-emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}





