body {
  font-family: 'Courier', sans-serif;
  font-size: 11pt;
  color: #333;
  background-color: #fdfdfd; }

div.container {
  margin: 20px; }

a {
  color: #333; }
  a:visited {
    color: #333; }
  a:active {
    text-decoration: underline;
    font-weight: bold;
    color: #333; }
  a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #000; }

p {
  margin-bottom: 5px; }

ul {
  margin-bottom: 10px; }

.icon-emoji {
  vertical-align: middle;
  width: 20px;
  height: 20px; }
